<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="../output.css" rel="stylesheet">
  <title>Načítání</title>
</head>
<body class="bg-gradient-to-br from-gray-800 to-gray-900 flex justify-center items-center min-h-screen text-gray-200">

  <div class="flex flex-col items-center space-y-6">
    <!-- Logo -->
    <img 
      src="../assets/logo.png" 
      alt="Logo" 
      class="h-24 brightness-125 drop-shadow-lg"
    />

    <!-- Loading text -->
    <p class="text-lg font-medium tracking-wide text-primary">
      Načítám aplikaci…
    </p>

    <!-- Progress Bar -->
    <div class="w-64 h-3 bg-gray-700 rounded-full overflow-hidden shadow-inner">
      <div class="h-full bg-primary animate-loading rounded-full"></div>
    </div>
    <p class="text-sm font-light tracking-wide text-gray-200"></p>
      Verze 1 - BETA
    </p>
  </div>

</body>
</html>
